
body {
    font: 13px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif;
    color: #888888;
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
 /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    background: #282828;
}

.templatemo_contacttitle {
    width: 100%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.templatemo_sub_contacttitle {
    width: 100%;
    font-size: 22px;
    color: #91bf24;
    text-align: center;
    margin-bottom: 50px;
}

.templatemo_contact {
    margin: 30px;
    width: 100%;
    margin-left: 15%;
}

.templatemo_contactform input, textarea {
    width: 100%;
    background: #282828;
    border: 1px solid #393939;
    padding: 7px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
}

.templatemo_contactform textarea {
    height: 70px;
}


.templatemo_contactform .btn-primary {
    background: #bf2424;
    border: none;
    border-radius: 0px;
    color: #edf2f3;
    font-weight: 800;
}

.templatemo_contactform .btn-primary:hover {
    background: #a6d82c;
}h2 span{
    color: #bf2424;

}h2{
    color: #FAFAFA;
}